<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- <link rel="icon" href="../../../../favicon.ico"> -->

	<title>Stuff Sharing</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<script src="js/vendor/angular.js"></script>
	<script src="js/vendor/angular-route.js"></script>
	<script src="login/login.module.js"></script>
	<script src="login/login.component.js"></script>
	<script src="navbar/navbar.module.js"></script>
	<script src="navbar/navbar.component.js"></script>
	<script src="items-list/items-list.module.js"></script>
	<script src="items-list/items-list.component.js"></script>
	<script src="item-form/item-form.module.js"></script>
	<script src="item-form/item-form.component.js"></script>
	<script src="item-bid/item-bid.module.js"></script>
	<script src="item-bid/item-bid.component.js"></script>
	<script src="app.module.js"></script>
	<script src="app.config.js"></script>
</head>

<body>

	<!-- Navbar component -->
	<navbar></navbar>

	<main role="main">
		<div ng-controller="AlertsController" class="col-md-12 mx-auto">
			<div ng-repeat="(index, alert) in AlertsService.getAlerts()" class="alert alert-{{alert['type']}}" role="alert">
				{{alert['msg']}}
				<button ng-click="AlertsService.removeAlert(index)" type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		<div ng-view></div>
	</main>

	<script src="js/vendor/jquery-3.3.1.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/vendor/holder.min.js"></script>
</body>
</html>
